body{
<<<<<<< HEAD
<<<<<<< HEAD
    background: rgb(18, 18, 28);
    color: aliceblue;
=======
=======
>>>>>>> nuevosestilos
    background: #fff;
    color: #000

}

h1{
    font-size: 20px;
    margin-bottom: 10px;
}

p{
    color: #ddd
<<<<<<< HEAD
>>>>>>> nuevosestilos
=======
>>>>>>> nuevosestilos
}